
# Сервер
PORT=
ADMIN_PORT=
NODE_ENV=production
PUBLIC_URL=

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Загрузка видео
UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=10240
UPLOAD_TTL_DAYS=30

# GitHub (один токен, права repo + gist)
GITHUB_TOKEN=

GITHUB_REPO_URL=
GITHUB_BRANCH=
UPDATE_SECRET_KEY=

# Gist (сохранение URL туннеля)
GIST_ID=
GIST_FILENAME=

# Cloudflare Tunnel (без домена)
CLOUDFLARED_PATH=cloudflared
TUNNEL_LOCAL_URL=

GOOGLE_DRIVE_API_KEY=

PROXY_SERVER=
PROXY_USER=
PROXY_PASS=

FORCE_SECURE_COOKIE=

YT_DLP_PATH=
YT_COOKIES_PATH=
YT_CACHE_DIR=

THUMB_DIR =

TURN_URL=
TURN_SECRET=
TURN_TTL_SECONDS=